//MAIN COLORS
$color_white: #f3f3f3;
$color_black: #111;
$color_red: #f24;
$color_dark_red: #cc001f;
$color_gray: #bbb;
$color_dark_gray: #999;
$color_hahow_green: #00BEA4;
$color_hahow_dark_green: #009F87;
$color_hahow_orange: #FA8B00;
$color_hahow_dark_orange: #EB5E00;

//FONT SETTING
$font_family: "Roboto Condensed", sans-serif, 微軟正黑體;

#heroList{
  font-family: $font_family;
  border: solid 1px $color_black;
  padding: 10px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .heroList__heroCard{
    border: solid 1px $color_black;
    display: inline-block;
    width: 200px;
    padding: 0px;
    margin: 3px;
    user-select: none;
    cursor: pointer;
    opacity: 0.85;
    &:hover{
      opacity: 1;
    }

    &__img{
      width: 180px;
      margin: 10px;
    }

    &__name{
      text-align: center;
      letter-spacing: 1px;
      margin: 15px;
      background-color: $color_hahow_orange;
      color: $color_white;
      font-weight: bold;
    }
  }

  .heroList__heroCard.selected{
    border: solid 5px $color_hahow_orange;  
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  }
}