<div *ngIf="hero&&profile" class="heroProfile">
  <div class="exitProfile" [routerLink]="['/']">X</div>
  <h2>{{hero.name}} profile</h2>
  <li id="str_1" class="skill">STR
    <div class="add" (click)="addStr();">+</div>
    <div class="skill_val">{{profile.str}}</div>
    <div class="minus" (click)="minusStr();">-</div>
  </li>
  <li id="int_1" class="skill">INT
    <div class="add" (click)="addInt();">+</div>
    <div class="skill_val">{{profile.int}}</div>
    <div class="minus" (click)="minusInt();">-</div>
  </li>
  <li id="agi_1" class="skill">AGI
    <div class="add" (click)="addAgi();">+</div>
    <div class="skill_val">{{profile.agi}}</div>
    <div class="minus" (click)="minusAgi();">-</div>
  </li>
  <li id="luk_1" class="skill">LUK
    <div class="add" (click)="addLuk();">+</div>
    <div class="skill_val">{{profile.luk}}</div>
    <div class="minus" (click)="minusLuk();">-</div>
  </li>
  <div class="save">
    <p class="left">剩餘點數:{{total-profile.str-profile.int-profile.agi-profile.luk}}</p>
    <div class="saveBtn" (click)="save()">儲存</div>
  </div>
</div>