* {
  font-family: "Roboto Condensed", sans-serif, 微軟正黑體;
  position: relative;
  color: #111;
}

 #heroList {
    border: solid 1px #111;
    padding: 10px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.heroCard {
    border: solid 1px #111;
    display: inline-block;
    width: 200px;
    padding: 0px;
    margin: 3px;
    user-select: none;
    cursor: pointer;
    opacity: 0.9;
}
.heroCard:hover {
    opacity: 1;
}
.heroCard img {
    width: 180px;
    margin: 10px;
}
.heroCard h2 {
    text-align: center;
    letter-spacing: 1px;
    margin: 15px;
    background-color: #FA8B00;
    color: #eee;
    font-weight: bold;
}
.heroCard.selected {
    border: solid 3px #FA8B00;
}

.heroProfile {
  margin-top: 2em;
  padding: 10px;
  width: 100%;
  /*left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-30%);*/
  border: solid 1px #111;
}
.heroProfile .h2{
  margin-left: 5em;
  font-weight: 900;
}
.skill {
  list-style: none;
  width: 45%;
  padding: 15px 20px;
  font-weight: 900;
  font-size: 20px;
}
.skill .add {
  display: inline-block;
  background-color: #00BEA4;
  width: 25px;
  height: 25px;
  border: solid 1px #111;
  border-radius: 3px;
  position: absolute;
  right: 50%;
  text-align: center;
  font-size: 17px;
  padding: 2px;
  cursor: pointer;
  user-select: none;
}
.skill .add:hover {
  background-color: #009F87;
}
.skill .skill_val {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 35%;
  text-align: center;
  padding: 2px;
}
.skill .minus {
  display: inline-block;
  background-color: #bbb;
  width: 25px;
  height: 25px;
  border: solid 1px #111;
  border-radius: 3px;
  position: absolute;
  right: 20%;
  text-align: center;
  font-size: 17px;
  padding: 2px;
  cursor: pointer;
  user-select: none;
}
.skill .minus:hover {
  background-color: #999;
}

.save {
  width: 45%;
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-weight: 900;
}
.save .left {
  left: 30%;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}
.save .saveBtn {
  background-color: #FA8B00;
  padding: 3px;
  border-radius: 5px;
  width: 40%;
  left: 30%;
  text-align: center;
  color: #eee;
  letter-spacing: 1px;
  cursor: pointer;
  user-select: none;
}
.save .saveBtn:hover {
  background-color: #EB5E00;
}